body{
    color: rgb(66, 38, 92);
    font-family: 'Raleway', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, powderblue, pink);
}

.header_logo {
    height: 100px;
}

a {
    text-decoration: none;
    color:rgb(2, 2, 56);
}

header a {
    font-size: 15px;
    font-weight: 600;
}

header button {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: rgb(201, 107, 107);
    background-color: #3c497d;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 16px 36px rgba(34, 39, 62, 0.566);
    padding: 15px;
}
