body{
    color: rgb(66, 38, 92);
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, powderblue, pink);
    border: 1px;
    border-color: #3c497d;
    border-radius: 10px;
    padding: 10px;
}

.header_logo {
    height: 100px;
}

a {
    text-decoration: none;
    color:rgb(2, 2, 56);
}

header a {
    font-size: 15px;
    font-weight: 600;
    margin-right: 25px;
}

header button {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: rgb(201, 107, 107);
    background-color: #3c497d;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 16px 36px rgba(34, 39, 62, 0.566);
    padding: 15px;
}

.about{
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 115px;
    padding-top: 115px;
    background: url('fon.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}
.about_img {
    width: 500px;
}

.about_cat {
    width: 100px;
}

.about h1 {
    font-size: 70px;
    line-height: 76px;
    text-shadow: 2px 0 2px #fff, 
    0 2px 2px #fff, 
    -2px 0 2px #fff, 
    0 -2px 2px #fff;
}

.about p{
    font-size: 18px;
    line-height: 30px;
    opacity: 0.8;
    text-shadow: 1px 0 1px #fff, 
    0 1px 1px #fff, 
    -1px 0 1px #fff, 
    0 -1px 1px #fff;
}

.about button {
    color: #feccfe;
    font-size: 18px;
    border-radius: 20px;
    padding: 20px 25px;
    margin-top: 20px;
}

.about__info {
    max-width: 550px;
}
.form {
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: #feccfe;
    padding-top: 115px;
    padding-bottom: 115px;
    text-align: center;
}

.form h1 {
    font-size: 50px;
}

.form p {
    font-size: 20px;
    opacity: 0.70;
}

.form__container{
    width: 600px;
}

.flex__group{
    flex-direction: column;
}