body{
    color: blueviolet;
    font-family: 'Raleway', sans-serif;
    background-color: linear-gradient(to top left, powderblue, pink);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    height: 30px;
}

a {
    text-decoration: none;
    color:blue;
}

header a {
    font-size: 15px;
    font-weight: 600;
}

header button {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: rgb(237, 167, 167);
    background-color: #0cd309;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 16px 36px rgb(52 213 68 /22%);
    padding: 15px;
}
